body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #3b2f2f;
  color: white;
  position: sticky;
  top: 0;
}

/* HERO */
.hero {
  background: linear-gradient(to right, #3b2f2f, #6b3e26);
  color: white;
  text-align: center;
  padding: 50px;
}

/* GRID */
.grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  width: 180px;
  border-radius: 12px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

/* PRODUCT IMAGE */
.product img {
  width: 100%;
  border-radius: 10px;
}

/* BUTTON */
button {
  background: #3b2f2f;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}

/* CART */
.cart {
  position: fixed;
  right: 0;
  top: 100px;
  width: 200px;
  background: white;
  padding: 10px;
  box-shadow: -2px 0 10px rgba(0,0,0,0.2);
}